body{
    background-color: #f5f5f5;
}
#logo{
    width: 120px;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
checkbox-container{
    background-color: white;
}
.result-title{
    font-family: 'Roboto';
    font-size: 2.5em;
}
.col-md-4{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.separator{
    margin-top: 60px;
}
.city-title{
    font-size: 2.8em;
    margin-left: 30px;
    margin-top: 10px;
    font-weight: bold;
}

.flight-duration{
    margin-left: 30px;
    font-size: 1.3em;
}
.city{
    -webkit-box-shadow: 2px 2px 20px 2px rgba(200,200,200,0.6);
    box-shadow: 2px 2px 20px 2px rgba(200,200,200,0.6);
    color: white;
    border-radius: 10px;
    overflow: hidden;
}
.internal-separator{
    margin-top: 60px;
}
.cost{
    font-size: 2em;
    font-family: "Roboto";
    margin-left: 30px;
    margin-bottom: 20px;
    font-weight: 300;
}
#berlin{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/berlin1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#london{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/london.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#paris{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/paris.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#oslo{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/oslo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.text-black{
    color: #000000;
}
.stat-label{
    font-size: 1.2em;
    margin-left: 5%;
    margin-bottom: 3px;
}
.stat{
    width: 100%;
    margin-left: 5px;
}
.stat-value{
    display: block;
    margin: auto;
    text-align: center;
    color: white;
    font-weight: bold;
}
.value-max-bg{
    width: 90%;
    margin-left: 5%;
    height: 28px;
    background-color: rgba(217, 217, 217, 0.4);
    border-radius: 3px;
    overflow: hidden;
}
.value-good{
    background-color: #6fc75d;
    height: 28px;
    text-align: center;
}
.value-bad{
    background-color: #c43429;
    height: 28px;
    text-align: center;
}
.value-medium{
    background-color: #e09a28;
    height: 28px;
    text-align: center;
}
.stat-desc{
    font-weight: bold;
    color: white;
    margin: auto;
    line-height: 28px;

}

.checkbox-container {
    display: inline;
    float: right;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ddd;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.offert-button{
    all:unset;
    width: 100%;
    color: white;
    border-radius: 4px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    background-color: #42bbff;

    margin-top: 10px;

}
#result{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.button-holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}
.offert-button:hover{
    opacity: 0.8;
}
#more-popup{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    background-color: white;
    z-index: 99;
    display: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
#close-button{
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 90px;
    border: 0;
    background-image: url("icons/close_icon.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    width: 25px;
}
#bg{
    z-index: 80;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body {
    margin:0;
    padding:0;
    font-family: Roboto,sans-serif;
}

div#oneSearchBlock {
    height: 100vh;
    border: 1px solid black;
    background: #0000002b;
    position: relative;


    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/berlin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.chosedOption {
    background-color: #42bbff !important;
    color: white;
    cursor: default;
}

.chosedOption img {
    opacity: 1.0 !important;
}

div#oneSearchDatesInputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#oneSearchForm {
    width: 800px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;


    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#oneTripWhereFrom {
    height: 0px;
    overflow: hidden;
    margin-top:15px;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#oneTripType {
    height: 0px;
    overflow: hidden;
    margin-top:15px;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

div#oneAllTripTypes {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
}

.oneTripTypeOption {
    width: 100%;
    height: 78px;
    background: #ececec;
    cursor: pointer;
}

.oneTripOptionCenter {
    border-right: 2px solid #d2d2d2;
    border-left: 2px solid #d2d2d2;
}

.oneTripTypeOption img {
    height: 44px;
    width: 44px;
    margin: 17px;
    opacity: 0.6;
    float: left;
}

.oneTripTypeOption span {
    height: 78px;
    float: left;
    line-height: 78px;
    font-size: 18px;
    font-weight: 400;
}

span.oneSpanSearch {
    font-size: 26px;
    font-weight: 200;
    margin-bottom: 20px;
    display: block;
    height: 30px;
    overflow: hidden;
}

#oneSearchDatesInputs input {
    display: inline-block;
    margin: 10px;
    width: 300px;
    height: 55px;
    border-radius: 5px;
    border: 0px;
    background: #80808026;
    padding-left: 15px;
    font-size: 20px;
    font-family: Roboto,sans-serif;
}

div#oneWhereFromPicker {
    width: 300px;
    margin: auto;
    height: 55px;
    position: relative;
}

input.oneWhereInput {
    display: inline-block;
    width: 300px;
    height: 55px;
    border-radius: 5px;
    border: 0px;
    background: #80808026;
    padding-left: 15px;
    font-size: 20px;
    font-family: Roboto,sans-serif;
}

select#oneCitySelecter {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 300px;
    height: 55px;
    border-radius: 5px;
    border: 0px;
    background: #dedede;
    padding-left: 15px;
    font-size: 20px;
    font-family: Roboto,sans-serif;
}

.oneWhereInput {
    display: inline-block;
    width: 300px;
    height: 55px;
    border-radius: 5px;
    border: 0px;
    background: #ececec;
    padding-left: 15px;
    font-size: 20px;
    font-family: Roboto,sans-serif;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
}
.more-button{
    padding: 5px 100px;
    display: block;
    background-color: #42bbff;
    border: 0;
    color: white;
    margin: auto;
    margin-top: 30px;
    margin-bottom:30px;
    width: 90%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.more-title-bg{

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/berlin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.more-title{
    font-size: 2.5em;
    color: white;
    margin: auto;
    padding: 20px;

}